@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #080810;
  --foreground: #F2F2F7;
  --brand: #00D68F;
  --brand-hover: #00b378;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
